@use "colors";
@use "fonts";

@use "components/header";
@use "components/table";
@use "components/tabs";
@use "components/admonitions";
@use "components/textfields";
@use "components/dropdowns";
@use "components/tags";
@use "components/code";
@use "components/navigation";

@use "elements/tikz";
@use "elements/d3";
@use "elements/katex";
@use "elements/mermaid";
@use "elements/p5";
@use "elements/threejs";

@use "pages/index";
@use "pages/costtool";
@use "pages/pushers";

.md-grid {
  max-width: 1560px;
}
