:root>* {
  --md-mermaid-font-family: 'JetBrains Mono', monospace;
}

:root {
  font-variant-ligatures: normal;
  font-size: 1.25em;
  --color-one-h: 209;
  --color-one-s: 91%;
  --color-one-l: 47%;

  --color-two-h: 253;
  --color-two-s: 74%;
  --color-two-l: 64%;

  --color-three-h: 288;
  --color-three-s: 67%;
  --color-three-l: 61%;

  --color-four-h: 318;
  --color-four-s: 66%;
  --color-four-l: 53%;

  --border-color-h: 218;
  --border-color-s: 100%;
  --border-color-l: 63%;

  --color-one: hsl(var(--color-one-h), var(--color-one-s), var(--color-one-l));
  --color-two: hsl(var(--color-two-h), var(--color-two-s), var(--color-two-l));
  --color-three: hsl(var(--color-three-h), var(--color-three-s), var(--color-three-l));
  --color-four: hsl(var(--color-four-h), var(--color-four-s), var(--color-four-l));
  --border-color: hsl(var(--border-color-h), var(--border-color-s), var(--border-color-l));
}

[data-md-color-scheme="default"] {
  --md-admonition-bg-color: hsl(232, 25%, 98%);
  --gradient-color-one: hsl(300, 43%, 13%);
  --gradient-color-two: hsl(0, 0%, 18%);
  --gradient-color-three: hsl(265, 54%, 21%);
  --gradient-color-four: hsl(0, 11%, 11%);
}

[data-md-color-scheme="slate"] {
  --md-admonition-bg-color: hsl(232, 15%, 25%);
  --md-typeset-a-color: hsl(231, 100%, 64%);
  --gradient-color-one: var(--color-one);
  --gradient-color-two: var(--color-two);
  --gradient-color-three: var(--color-three);
  --gradient-color-four: var(--color-four);
}

.md-header {
  box-shadow: none;
}

/* Home */

@import "index/index.css.scss";
@import "index/timeline.css.scss";

/* Header */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  background: linear-gradient(-45deg, var(--gradient-color-one), var(--gradient-color-two), var(--gradient-color-three), var(--gradient-color-four));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.md-header__source {
  width: 7rem;
  max-width: 11.7rem;
}

/* Additional admonition */

:root {
  --md-admonition-icon--code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 3h2v2H5v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5h2v2H5c-1.07-.27-2-.9-2-2v-4a2 2 0 0 0-2-2H0v-2h1a2 2 0 0 0 2-2V5a2 2 0 0 1 2-2m14 0a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2h1v2h-1a2 2 0 0 0-2 2v4a2 2 0 0 1-2 2h-2v-2h2v-5a2 2 0 0 1 2-2 2 2 0 0 1-2-2V5h-2V3h2m-7 12a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1m-4 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1m8 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1Z" /></svg>')
}

.md-typeset .admonition.code,
.md-typeset details.code {
  border-color: rgb(155, 43, 140);
}

.md-typeset .code>.admonition-title,
.md-typeset .code>summary {
  background-color: rgba(155, 43, 140, 0.1);
}

.md-typeset .code>.admonition-title::before,
.md-typeset .code>summary::before {
  background-color: rgb(155, 43, 140);
  -webkit-mask-image: var(--md-admonition-icon--code);
  mask-image: var(--md-admonition-icon--code);
}

/* Code blocks */

[data-md-color-scheme="slate"]:root>* {
  --md-code-hl-keyword-color: #BD96C2;
  --md-code-hl-punctuation-color: #74B0B1;
  --md-code-hl-operator-color: #72AEAF;
  --md-code-hl-name-color: #CED3DD;
  --md-code-hl-number-color: #EA9662;
  --md-code-hl-function-color: #7198C7;
  --md-code-hl-string-color: #A2C699;
  --md-code-hl-comment-color: #67737D;
}

.hide-overflow-x code {
  white-space: pre-wrap !important;
}

/* Katex */
.katex-display {
  margin: 0px;
}

.katex .text>.mord {
  font-family: var(--md-text-font);
  font-weight: normal;
}

.katex .tag {
  right: 25px !important;
}

/* p5 canvases */

.p5canvas input {
  background-color: var(--md-admonition-bg-color);
}

.p5canvas th {
  min-width: 3rem !important;
}

.p5canvas input {
  width: 60px;
}

.p5canvas input[type="range"] {
  width: 120px;
}

.p5canvas button {
  color: white;
  padding: 10px 0px 10px 0px;
  background-color: var(--md-primary-fg-color);
}

.p5canvas button:hover {
  background-color: var(--md-primary-fg-color--light);
  cursor: pointer;
}

div[id^="plot"] .label,
div[id^="grplot"] .label,
div[id^="plot"] .tick text,
div[id^="grplot"] .tick text {
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
}

@media (max-width: 992px) {

  div[id^="plot"] .label,
  div[id^="grplot"] .label,
  div[id^="plot"] .tick text div[id^="grplot"] .tick text {
    font-size: 0.6em;
  }
}

[data-md-color-scheme="slate"] div[id^="plot"] .label,
[data-md-color-scheme="slate"] div[id^="grplot"] .label {
  fill: var(--md-default-fg-color--light);
}

/* Extra */
figure.under-construction {
  margin-top: -3rem !important;
}

figure.under-construction:before {
  content: "under construction";
  position: relative;
  font-size: 2rem;
  line-height: 2rem;
  top: 9rem;
  color: white;
  text-shadow: 0 0 0.5rem #000000;
  -moz-text-shadow: 0 0 0.5rem #000000;
  -o-text-shadow: 0 0 0.5rem #000000;
  -webkit-text-shadow: 0 0 0.5rem #000000;
  -ms-text-shadow: 0 0 0.5rem #000000;
}

/* d3 */

#d3-code-structure text {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.0em;
}

[data-md-color-scheme="slate"] #d3-code-structure text tspan {
  fill: white;
}

[data-md-color-scheme="default"] #d3-code-structure text tspan {
  fill: black;
}

/* tables */
.tr-gr1 td,
.tr-gr2 td,
.tr-gr3 td {
  position: relative;
}

.tr-gr1 td::before,
.tr-gr2 td::before,
.tr-gr3 td::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  pointer-events: none;
}

span[tr-gr1],
span[tr-gr2],
span[tr-gr3] {
  width: 20px;
  height: 1em;
  display: inline-block;
  opacity: 0.4;
}

.tr-gr1 td::before {
  background: var(--color-one);
}

.tr-gr2 td::before {
  background: var(--color-two);
}

.tr-gr3 td::before {
  background: var(--color-three);
}

span[tr-gr1] {
  background-color: var(--color-one);
}

span[tr-gr2] {
  background-color: var(--color-two);
}

span[tr-gr3] {
  background-color: var(--color-four);
}

/* */