:root>* {
  --md-mermaid-font-family: 'JetBrains Mono', monospace;
}

:root {
  font-variant-ligatures: normal;
  font-size: 1.25em;
  --color-one-h: 209;
  --color-one-s: 91%;
  --color-one-l: 47%;

  --color-two-h: 253;
  --color-two-s: 74%;
  --color-two-l: 64%;

  --color-three-h: 288;
  --color-three-s: 67%;
  --color-three-l: 61%;

  --color-four-h: 318;
  --color-four-s: 66%;
  --color-four-l: 53%;

  --border-color-h: 218;
  --border-color-s: 100%;
  --border-color-l: 63%;

  --color-one: hsl(var(--color-one-h), var(--color-one-s), var(--color-one-l));
  --color-two: hsl(var(--color-two-h), var(--color-two-s), var(--color-two-l));
  --color-three: hsl(var(--color-three-h), var(--color-three-s), var(--color-three-l));
  --color-four: hsl(var(--color-four-h), var(--color-four-s), var(--color-four-l));
  --border-color: hsl(var(--border-color-h), var(--border-color-s), var(--border-color-l));
}

[data-md-color-scheme="default"] {
  --md-admonition-bg-color: hsl(232, 25%, 98%);
  --gradient-color-one: hsl(300, 43%, 13%);
  --gradient-color-two: hsl(0, 0%, 18%);
  --gradient-color-three: hsl(265, 54%, 21%);
  --gradient-color-four: hsl(0, 11%, 11%);
}

[data-md-color-scheme="slate"] {
  --md-admonition-bg-color: hsl(232, 15%, 25%);
  --md-typeset-a-color: hsl(231, 100%, 64%);
  --gradient-color-one: var(--color-one);
  --gradient-color-two: var(--color-two);
  --gradient-color-three: var(--color-three);
  --gradient-color-four: var(--color-four);
}

.md-header {
  box-shadow: none;
}

/* Home */

@import "index/_index.css.scss";
@import "index/_timeline.css.scss";

/* Header */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  background: linear-gradient(-45deg, var(--gradient-color-one), var(--gradient-color-two), var(--gradient-color-three), var(--gradient-color-four));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.md-header__source {
  width: 7rem;
  max-width: 11.7rem;
}


/* Code blocks */

[data-md-color-scheme="slate"]:root>* {
  --md-code-hl-keyword-color: #BD96C2;
  --md-code-hl-punctuation-color: #74B0B1;
  --md-code-hl-operator-color: #72AEAF;
  --md-code-hl-name-color: #CED3DD;
  --md-code-hl-number-color: #EA9662;
  --md-code-hl-function-color: #7198C7;
  --md-code-hl-string-color: #A2C699;
  --md-code-hl-comment-color: #67737D;
}

.hide-overflow-x code {
  white-space: pre-wrap !important;
}

/* tables */
.tr-gr1 td,
.tr-gr2 td,
.tr-gr3 td {
  position: relative;
}

.tr-gr1 td::before,
.tr-gr2 td::before,
.tr-gr3 td::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  pointer-events: none;
}

span[tr-gr1],
span[tr-gr2],
span[tr-gr3] {
  width: 20px;
  height: 1em;
  display: inline-block;
  opacity: 0.4;
}

.tr-gr1 td::before {
  background: var(--color-one);
}

.tr-gr2 td::before {
  background: var(--color-two);
}

.tr-gr3 td::before {
  background: var(--color-three);
}

span[tr-gr1] {
  background-color: var(--color-one);
}

span[tr-gr2] {
  background-color: var(--color-two);
}

span[tr-gr3] {
  background-color: var(--color-four);
}

/* extra */

@import "elements/_admonitions.css.scss";
@import "elements/_katex.css.scss";
@import "elements/_p5.css.scss";
@import "elements/_d3.css.scss";
@import "elements/_tikz.css.scss";