@use "sass:map";
@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

@mixin title-font {
  font-family: 'Slabo 13px', serif;
}

$mono-font: 'JetBrains Mono', monospace;
$serif-font: 'DM Sans', serif;


$layout-breakpoint-small: 960px;

$light-palette: (
  "one": hsl(209, 91%, 47%),
  "two": hsl(253, 74%, 64%),
  "three": hsl(288, 67%, 61%),
  "four": hsl(318, 66%, 53%),
  "five": hsl(218, 100%, 63%),
  "six": hsl(350, 65%, 52%),
  "bg": #ffffff,
  "border": #ededed,
);

$dark-palette: (
  "one": hsl(300, 43%, 13%),
  "two": hsl(0, 0%, 18%),
  "three": hsl(265, 54%, 21%),
  "four": hsl(0, 11%, 11%),
  "five": hsl(323, 65%, 29%),
  "six": hsl(0, 100%, 17%),
  "bg": #1e2129,
  "border": #353940,
);

@mixin dark-theme {
  [data-md-color-scheme="slate"] & {
    @content;
  }
}

@mixin light-theme {
  [data-md-color-scheme="default"] & {
    @content;
  }
}

/* --------------------------------- global --------------------------------- */
:root {
  font-variant-ligatures: normal;
  font-size: 1.25em;
}

h1,
h2,
h3,
h4 {
  @include title-font;
}

/* ----------------------------- code highlight ----------------------------- */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --------------------------------- header --------------------------------- */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  background-size: 400% 400% !important;
  animation: gradient 15s ease infinite;

  @include light-theme {
    background: linear-gradient(-45deg, map-get($light-palette, "one"), map-get($light-palette, "two"), map-get($light-palette, "three"), map-get($light-palette, "four"));
  }

  @include dark-theme {
    background: linear-gradient(-45deg, map-get($dark-palette, "one"), map-get($dark-palette, "two"), map-get($dark-palette, "three"), map-get($dark-palette, "four"));
  }
}

.md-header__source {
  width: 7rem;
  max-width: 11.7rem;
}

/* ------------------------------ table groups ------------------------------ */

$groups: (
  "tr-gr1": "one",
  "tr-gr2": "two",
  "tr-gr3": "four"
);

@each $gr, $num in $groups {
  .#{$gr} td {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.15;
      pointer-events: none;
      background: map-get($light-palette, $num);
    }
  }

  span[#{$gr}] {
    width: 20px;
    height: 1em;
    display: inline-block;
    opacity: 0.4;
    background-color: map-get($light-palette, $num);
  }
}


/* tabs */
.tabbed-content {
  border: 1px solid;
  border-top: none;

  @include light-theme {
    background-color: darken(map-get($light-palette, "bg"), 3%);
    border-color: darken(map-get($light-palette, "border"), 3%);
  }

  @include dark-theme {
    background-color: lighten(map-get($dark-palette, "bg"), 2%);
    border-color: lighten(map-get($dark-palette, "border"), 2%);
  }
}

[data-md-color-scheme="default"] {
  --tab-bg-color: #ececec;
  --tab-border-color: #d9d9d9;
}

[data-md-color-scheme="slate"] {
  --tab-bg-color: #343946;
  --tab-border-color: #2d2f36;
}

.js .md-typeset .tabbed-labels::before {
  height: 2rem;
  background: var(--tab-bg-color) !important;
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: 2px solid var(--tab-border-color);
  z-index: -1;
}

/* ------------------------------- admonitions ------------------------------ */

.md-typeset .admonition {
  font-size: 0.9em;

  .katex-display {
    font-size: 1.0em;
  }

  @include light-theme {
    background-color: darken(map-get($light-palette, "bg"), 3%);
    --md-code-bg-color: #{darken(map-get($light-palette, "bg"), 7%)};
  }

  @include dark-theme {
    background-color: lighten(map-get($dark-palette, "bg"), 2%);
    --md-code-bg-color: #{lighten(map-get($dark-palette, "bg"), 5%)};
  }
}

/* ------------------------------- text fields ------------------------------ */
form .textfield {
  position: relative;

  input {
    line-height: 1.5rem;
    padding-left: 0.2rem;
    outline: none;
    transition: 0.02s ease-out;
    background: var(--md-default-bg);

    @include light-theme {
      border: solid darken(map-get($light-palette, "bg"), 25%);
      border-width: 0 0 1px 0;
    }

    @include dark-theme {
      border: solid lighten(map-get($dark-palette, "bg"), 25%);
      border-width: 0 0 1px 0;
    }

    &+label {
      position: absolute;
      left: 0.2rem;
      top: 50%;
      transform: translateY(-50%);
      color: gray;
      transition: 0.1s ease-out;
      transform-origin: left top;
      pointer-events: none;
    }

    &:required {
      &:placeholder-shown {
        @include light-theme {
          border-color: lighten(map-get($light-palette, "four"), 5%);
        }

        @include dark-theme {
          border-color: lighten(map-get($dark-palette, "five"), 25%);
        }
      }
    }

    &:focus+label,
    &:not(:placeholder-shown)+label {
      padding: 0 0.25rem;
      background: var(--md-default-bg-color);
    }

    &:focus+label {
      @include light-theme {
        color: map-get($light-palette, "one");
      }

      @include dark-theme {
        color: lighten(map-get($light-palette, "one"), 25%);
      }

      top: 0;
      transform: translateY(-60%) scale(0.75) !important;
    }

    &:not(:placeholder-shown)+label {
      top: 0;
      transform: translateY(-60%) scale(0.75) !important;
    }

    &:not(:focus)::placeholder {
      opacity: 0;
    }
  }
}

/* -------------------------------- dropdowns ------------------------------- */
form select {
  @include light-theme {
    border: 1px solid darken(map-get($light-palette, "bg"), 10%);
  }

  @include dark-theme {
    border: 1px solid lighten(map-get($dark-palette, "bg"), 10%);
  }

  border-radius: 5px;
  height: 1.5rem;
  background: var(--md-default-bg-color);
}

optgroup {
  font-style: normal;
  font-weight: bold;
}

/* extra */

@import "index/_index.css.scss";
@import "elements/_code.css.scss";
@import "elements/_admonitions.css.scss";
@import "elements/_katex.css.scss";
@import "elements/_p5.css.scss";
@import "elements/_d3.css.scss";
@import "elements/_tikz.css.scss";
@import "elements/_mermaid.css.scss";