:root>* {
  --md-code-hl-special-color: #720dce;
  --md-code-hl-number-color: #4343ce;
  --md-code-hl-function-color: #720dcb;
  --md-code-hl-constant-color: #4343ce;
  --md-code-hl-keyword-color: #ce3e4c;
  --md-code-hl-string-color: #228B22;
  --md-code-hl-name-color: #26282f;
  --md-code-hl-operator-color: #c23e7a;
  --md-code-hl-punctuation-color: #26282f;
  --md-code-hl-comment-color: #6d9696;
  --md-code-hl-generic-color: #DAA520;
  --md-code-hl-variable-color: #4343d1;
  --md-code-fg-color: #26282f;
  --md-code-bg-color: #fafafa;
  --md-code-hl-color: rgb(23, 171, 240);
}

[data-md-color-scheme="slate"]>* {
  --md-code-hl-special-color: #d09bff;
  --md-code-hl-number-color: #8babff;
  --md-code-hl-function-color: #e3a43e;
  --md-code-hl-constant-color: #8babff;
  --md-code-hl-keyword-color: #df7467;
  --md-code-hl-string-color: #abc9ff;
  --md-code-hl-name-color: #e1ecf4;
  --md-code-hl-operator-color: #df7467;
  --md-code-hl-punctuation-color: #e1ecf4;
  --md-code-hl-comment-color: #7a8192;
  --md-code-hl-generic-color: #DAA520;
  --md-code-hl-variable-color: #95b7ff;
  --md-code-fg-color: #e1ecf4;
  --md-code-bg-color: #232730;
  --md-code-hl-color: rgb(84, 140, 245);
}

.hljs-section {color: var(--md-code-hl-keyword-color);}
.hljs-emphasis { color: var(--md-code-hl-special-color); }
.hljs-number { color: var(--md-code-hl-number-color); }
.hljs-function { color: var(--md-code-hl-function-color); }
.hljs-constant { color: var(--md-code-hl-constant-color); }
.hljs-keyword { color: var(--md-code-hl-keyword-color); }
.hljs-string { color: var(--md-code-hl-string-color); }
.hljs-title { color: var(--md-code-hl-name-color); }
.hljs-operator { color: var(--md-code-hl-operator-color); }
.hljs-punctuation { color: var(--md-code-hl-punctuation-color); }
.hljs-comment { color: var(--md-code-hl-comment-color); }
.hljs-meta { color: var(--md-code-hl-generic-color); }
.hljs-variable { color: var(--md-code-hl-variable-color); }
.hljs { color: var(--md-code-fg-color); background: var(--md-code-bg-color); }

.hide-overflow-x code {
  white-space: pre-wrap !important;
}
