.d3-diagram {

  text,
  .label {
    font-family: $mono-font;
  }

  &#d3-code-structure text {
    font-size: 1.0em;
  }

  @include dark-theme {
    text tspan {
      fill: white;
    }

    .label {
      fill: var(--md-default-fg-color--light);
    }
  }

  @include light-theme {
    text tspan {
      fill: black;
    }
  }

  .helper-line {
    stroke: var(--md-default-fg-color);
    stroke-opacity: 0.25;
  }

  .label,
  .tick text {
    @media (max-width: $layout-breakpoint-small) {
      font-size: 10px;
    }

    font-size: 16px;
  }

  .arrowhead {
    fill: var(--md-default-fg-color);
  }

  .d3-katex {
    font-size: 1.1em;
  }
}