[data-md-color-scheme="default"] {
  --mermaid-edge-color: #343946;
}

[data-md-color-scheme="slate"] {
  --mermaid-edge-color: #ececec;
}


:root {
  &>* {
    --md-mermaid-font-family: #{$mono-font};
    --md-mermaid-label-fg-color: var(--md-default-fg-color);
    --md-mermaid-edge-color: var(--mermaid-edge-color);
  }
}