
/* p5 canvases */

.p5canvas input {
  background-color: var(--md-admonition-bg-color);
}

.p5canvas th {
  min-width: 3rem !important;
}

.p5canvas input {
  width: 60px;
}

.p5canvas input[type="range"] {
  width: 120px;
}

.p5canvas button {
  color: white;
  padding: 10px 0px 10px 0px;
  background-color: var(--md-primary-fg-color);
}

.p5canvas button:hover {
  background-color: var(--md-primary-fg-color--light);
  cursor: pointer;
}