.three-diagram {
  position: relative;
}

.lil-gui {
  font-family: $mono-font;

  @include light-theme {
    --text-color: "black";
    --background-color: #{darken($col-light-bg, 6%)};
    --widget-color: #{darken($col-light-bg, 16%)};
    --hover-color: #{darken($col-light-bg, 25%)};
    --title-background-color: var(--md-accent-fg-color);
    --number-color: #{darken($col-light-1, 10%)};
  }

  @include dark-theme {
    color: lighten($col-dark-1, 25%);
  }
}

.lil-gui.root {
  position: absolute;

  &.align-top {
    top: 0;
  }

  &.align-bottom {
    bottom: 0;
  }

  &.align-left {
    left: 0;
  }

  &.align-right {
    right: 0;
  }
}

