:root {
  --md-admonition-icon--code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 3h2v2H5v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5h2v2H5c-1.07-.27-2-.9-2-2v-4a2 2 0 0 0-2-2H0v-2h1a2 2 0 0 0 2-2V5a2 2 0 0 1 2-2m14 0a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2h1v2h-1a2 2 0 0 0-2 2v4a2 2 0 0 1-2 2h-2v-2h2v-5a2 2 0 0 1 2-2 2 2 0 0 1-2-2V5h-2V3h2m-7 12a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1m-4 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1m8 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1Z" /></svg>');
  --md-admonition-icon--faq: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.97 8.265a1.45 1.45 0 0 0-.487.57.75.75 0 0 1-1.341-.67c.2-.402.513-.826.997-1.148C10.627 6.69 11.244 6.5 12 6.5c.658 0 1.369.195 1.934.619a2.45 2.45 0 0 1 1.004 2.006c0 1.033-.513 1.72-1.027 2.215-.19.183-.399.358-.579.508l-.147.123a4.329 4.329 0 0 0-.435.409v1.37a.75.75 0 1 1-1.5 0v-1.473c0-.237.067-.504.247-.736.22-.28.486-.517.718-.714l.183-.153.001-.001c.172-.143.324-.27.47-.412.368-.355.569-.676.569-1.136a.953.953 0 0 0-.404-.806C12.766 8.118 12.384 8 12 8c-.494 0-.814.121-1.03.265ZM13 17a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/><path d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1ZM2.5 12a9.5 9.5 0 0 0 9.5 9.5 9.5 9.5 0 0 0 9.5-9.5A9.5 9.5 0 0 0 12 2.5 9.5 9.5 0 0 0 2.5 12Z"/></svg>');
  --md-admonition-icon--showplot: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M10.25 2a8.25 8.25 0 0 1 6.34 13.53l5.69 5.69a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-5.69-5.69A8.25 8.25 0 1 1 10.25 2ZM3.5 10.25a6.75 6.75 0 1 0 13.5 0 6.75 6.75 0 0 0-13.5 0Z"></path></svg>');
}

.admonition {
  font-size: 1em !important;

  .katex-display {
    font-size: 1em;
  }

  &.abstract {
    background-color: rgba($col-admonition-abstract, 0.05) !important;
    code {
      --md-code-bg-color: #{rgba($col-admonition-abstract, 0.05)};
    }
  }

  &.note {
    background-color: rgba($col-admonition-note, 0.05) !important;
    code {
      --md-code-bg-color: #{rgba($col-admonition-note, 0.05)};
    }
  }

  &.example {
    background-color: rgba($col-admonition-example, 0.05) !important;
    code {
      --md-code-bg-color: #{rgba($col-admonition-example, 0.05)};
    }
  }

  &.warning {
    background-color: rgba($col-admonition-warning, 0.05) !important;
    code {
      --md-code-bg-color: #{rgba($col-admonition-warning, 0.05)};
    }
  }

  &.code {
    background-color: rgba($col-admonition-code, 0.05) !important;
    code {
      --md-code-bg-color: #{rgba($col-admonition-code, 0.02)};
    }
  }
}

.md-typeset .admonition.code,
.md-typeset details.code {
  border-color: $col-admonition-code;
}

.md-typeset .code {
  & > .admonition-title,
  & > summary {
    background-color: rgba($col-admonition-code, 0.1);

    &::before {
      background-color: $col-admonition-code;
      -webkit-mask-image: var(--md-admonition-icon--code);
      mask-image: var(--md-admonition-icon--code);
    }
  }
}

// faq
.md-typeset .admonition.faq,
.md-typeset details.faq {
  border-color: var(--md-default-fg-color);
  font-size: 1em;
}

.md-typeset .faq {
  & > .admonition-title,
  & > summary {
    font-size: 1.3em;
    background-color: var(--md-code-bg-color);

    &::before {
      -webkit-mask-image: var(--md-admonition-icon--faq);
      mask-image: var(--md-admonition-icon--faq);
      background-color: var(--md-default-fg-color);
    }
  }
}

// result
.md-typeset .admonition.showplot,
.md-typeset details.showplot {
  border-color: var(--md-default-fg-color);
  font-size: 1em;
}

.md-typeset .showplot {
  & > .admonition-title,
  & > summary {
    font-size: 1.1em;
    background-color: var(--md-code-bg-color);

    &::before {
      -webkit-mask-image: var(--md-admonition-icon--showplot);
      mask-image: var(--md-admonition-icon--showplot);
      background-color: var(--md-default-fg-color);
    }
  }
}
