@use "../colors" as colors;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  background-size: 400% 400% !important;
  animation: gradient 15s ease infinite;

  @include colors.light-theme {
    background: linear-gradient(
      -45deg,
      var(--col-light-1),
      var(--col-light-2),
      var(--col-light-3),
      var(--col-light-4)
    );
  }

  @include colors.dark-theme {
    background: linear-gradient(
      -45deg,
      var(--col-dark-1),
      var(--col-dark-2),
      var(--col-dark-3),
      var(--col-dark-4)
    );
  }
}
