@use "../colors" as colors;

img.invertdark {
  @include colors.light-theme {
    filter: invert(1) hue-rotate(180deg);
  }
}

img.invertlight {
  @include colors.dark-theme {
    filter: invert(1) hue-rotate(180deg);
  }
}
