@use "../colors" as colors;
@use "sass:color";

.tabbed-content {
  border: 1px solid;
  border-top: none;
  padding: 0 1rem;

  @include colors.light-theme {
    background-color: color.adjust(colors.$col-light-bg, $lightness: -3%);
    border-color: color.adjust(colors.$col-light-border, $lightness: -3%);
  }

  @include colors.dark-theme {
    background-color: colors.$col-dark-bg-alt;
    border-color: colors.$col-dark-border;
  }
}

.js .md-typeset .tabbed-labels::before {
  height: 2rem;
  background-color: var(--col-tab-bg) !important;
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: 4px solid var(--md-typeset-a-color);
  z-index: -1;
}
