.p5canvas {
  input {
    @include light-theme {
      background-color: darken($col-light-bg, 5%);
    }

    @include dark-theme {
      background-color: lighten($col-dark-bg, 4%);
    }

    &,
    button {
      &:hover {
        cursor: pointer;
      }
    }

    &[type="number"]:hover {
      cursor: text;
    }

    width: 60px;

    &[type="range"] {
      width: 120px;
    }
  }

  th {
    min-width: 3rem !important;
  }

  button {
    color: white;
    padding: 10px 0px 10px 0px;
    background-color: var(--md-primary-fg-color);

    &:hover {
      background-color: var(--md-primary-fg-color--light);
    }
  }

  &#cover canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

