@use "../colors" as colors;
@use "sass:color";

.p5canvas {
  .webgl-fallback {
    position: absolute;

    @include colors.light-theme {
      color: color.scale(colors.$col-light-fg, $alpha: -75%);
    }

    @include colors.dark-theme {
      color: color.scale(colors.$col-dark-fg, $alpha: -75%);
    }
  }

  input {
    width: 60px;

    @include colors.light-theme {
      background-color: color.adjust(colors.$col-light-bg, $lightness: -5%);
    }

    @include colors.dark-theme {
      background-color: color.adjust(colors.$col-dark-bg, $lightness: 4%);
    }

    &,
    button {
      &:hover {
        cursor: pointer;
      }
    }

    &[type="number"]:hover {
      cursor: text;
    }

    &[type="range"] {
      width: 120px;
    }
  }

  th {
    min-width: 3rem !important;
  }

  button {
    color: white;
    padding: 10px 0px 10px 0px;
    background-color: var(--md-primary-fg-color);

    &:hover {
      background-color: var(--md-primary-fg-color--light);
    }
  }

  &#cover canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
