@use "../colors" as colors;
@use "../fonts" as fonts;
@use "sass:color";

.three-diagram {
  position: relative;
}

.lil-gui {
  font-family: fonts.$mono-font;

  @include colors.light-theme {
    --text-color: "black";
    --background-color: #{color.adjust(colors.$col-light-bg, $lightness: -6%)};
    --widget-color: #{color.adjust(colors.$col-light-bg, $lightness: -16%)};
    --hover-color: #{color.adjust(colors.$col-light-bg, $lightness: -25%)};
    --title-background-color: var(--md-accent-fg-color);
    --number-color: #{color.adjust(colors.$col-light-1, $lightness: -10%)};
  }

  @include colors.dark-theme {
    color: color.adjust(colors.$col-dark-1, $lightness: 25%);
  }
}

.lil-gui.root {
  position: absolute;

  &.align-top {
    top: 0;
  }

  &.align-bottom {
    bottom: 0;
  }

  &.align-left {
    left: 0;
  }

  &.align-right {
    right: 0;
  }
}
